.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #2b80dd;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid) {
    border-bottom-color: #2b80dd;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid)~i {
    color: #2b80dd;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #2b80dd;
}
#logCheck{
    margin-bottom: 4px;
}
.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #2b80dd;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #2b80dd;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #2b80dd;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}
#forms{
    width: 360px;
    height: 456px;
    border: 3px solid #2b80dd;
    margin: 20px auto;
    border-radius: 8px;
}
#forms .form{
    width: 350px;
    height: 440px;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    margin-left: 2px;
    margin-top: 4px;
}
 .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}
.input-field .fa-eye-slash{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
#formss{
    width: 370px;
    height: 610px;
    border: 3px solid #2b80dd;
    margin: 20px auto;
    border-radius: 8px;
}

#formss .form{
    width: 360px;
    height: 600px;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    margin-left: 2px;
    margin-top: 4px;
}
#termCon{
    margin-bottom: 7px;
}

#forgot_pass .section {
    border-top: 2px solid #E4E7ED;
    border-bottom: 3px solid #2b80dd;
    margin-top: 30px;
}

.forgot_pwd {
    margin-top: 20px;
    text-align: center;
}

.forgot_pwd .heading {
    font-size: 30px;
    font-weight: bold;
}

.forgot_pwd .note {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.forgot_pwd form {
    position: relative;
    max-width: 450px;
    margin: auto;
}

.forgot_pwd form .input {
    border: 1px solid black;
    border-radius: 4px;
}

.forgot_pwd form button a {
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.forgot_pwd form .submit-btn {
    width: 450px;
    height: 40px;
    background: #2b80dd;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}